/* Grouped Elements/Components */
@layer group {

    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-columns: 1fr;
        gap: 2px;
        background-color: var(--light);
    }
    
    .grid > div{
        padding: var(--step-3);
        background-color: var(--white);
        /* display: flex; */
    }
    /* .grid > div > p:has(img){
        grid-column: 1 / -1
    } */

    header .bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--text);
        background: linear-gradient(90deg, rgba(52, 94, 193, 1) 40%, rgba(52, 94, 193, 0) 100%);
        background: linear-gradient(90deg, rgba(52, 94, 193, 0) 20%, rgba(0,   0,   0, 0) 100%);
        z-index: 2;
    }
    header h1 {
        position: relative;
        z-index: 2;
        background-color: var(--text);
        padding: var(--step--5) var(--step-0);
        display: inline;
        line-height: 1.5;
        box-decoration-break: clone; 
        -webkit-box-decoration-break: clone;
    }

    header > p {
        color: var(--white);
        position: relative;
        z-index: 2;
        display: block;
        background-color: var(--text);
        padding: var(--step--3);
        box-decoration-break: clone; 
        -webkit-box-decoration-break: clone;
    }


    header .img{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/bg-test.png');
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }


    @media only screen and (max-width:600px) {
        .grid{
            grid-template-columns: 1fr;
        }
        
        header{
            padding-right: var(--step-5);
        }

        header .img{
            bottom: unset;
            top: 0;
            width: 100%;
            left: 0;
            height: 100%;
        }



    }


}