/* Grouped Elements/Components */
@layer group {

    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 2px;
        background-color: var(--light);
    }
    
    .grid > div{
        padding: var(--step-3);
        background-color: var(--light);
    }
    .grid > div.full{
        grid-column: 1 / -1
    }

    header h1 {
        position: relative;
        z-index: 2;
        background-color: var(--dark);
        padding: var(--step--5) var(--step-0);
        display: inline;
        line-height: 1.3;
        box-decoration-break: clone; 
        -webkit-box-decoration-break: clone;
    }

    header > p {
        color: var(--light);
        position: relative;
        z-index: 2;
        display: block;
        background-color: var(--dark);
        padding: var(--step--3);
        box-decoration-break: clone; 
        -webkit-box-decoration-break: clone;
    }


    header .img{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/branching-web-bg-main.png');
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }


    @media only screen and (max-width:600px) {
        .grid{
            grid-template-columns: 1fr;
        }
        
        header{
            padding-right: var(--step-5);
        }

        header .img{
            bottom: unset;
            top: 0;
            width: 100%;
            left: 0;
            height: 100%;
        }



    }


    .img-gen{
        width: 380px;
        height: 142px;
        background: var(--light);
        background: linear-gradient(135deg, var(--light) 32%, var(--dark) 73%);
    }

}