/* HTML Elements */
@layer html {

    body{
        max-width: 1200px;
        max-width: 90ch;
        margin: 0 auto;
    }
    nav, header, main, footer{
        background: #eee;
        
    }
}