/* HTML Elements */
@layer html {

    :root{
        /* COLORS */
        /* Branch */
        --primary: #345ec1;
        --primary-alt: #211e8b;
        --secondary: #cee3f8;
        --light: #f1f2fd;
        --dark: #2c2c2c;
        

        /* Utility */
        --accent: #ffdc53;
        --success: #3ebb4a;
        --error: #dd3e3e;
        --outline: #6d6d6d;
        
        /* Primitive */
        --white: #ffffff;
        --grey: #aaaaaa;
        --black: #181818;

        
        /* Font Size */
        --step--5: clamp(0.1rem, .7rem + -0.4vw, 0.3rem);
        --step--4: clamp(0.3rem, .8rem + -0.3vw, 0.5rem);
        --step--3: clamp(0.5rem, .9rem + -0.2vw, 0.7rem);
        --step--2: clamp(0.7813rem, 0.9246rem + -0.185vw, 0.8784rem);
        --step--1: clamp(0.9372rem, 0.9371rem + 0.0006vw, 0.9375rem);
        --step-0: clamp(1rem, 0.9405rem + 0.2381vw, 1.125rem);
        --step-1: clamp(1.067rem, 0.9322rem + 0.539vw, 1.35rem);
        --step-2: clamp(1.1385rem, 0.9092rem + 0.9172vw, 1.62rem);
        --step-3: clamp(1.2148rem, 0.8675rem + 1.389vw, 1.944rem);
        --step-4: clamp(1.2962rem, 0.8025rem + 1.9746vw, 2.3328rem);
        --step-5: clamp(1.683rem, 0.7085rem + 2.6978vw, 2.7994rem);
        --step-6: clamp(2.5rem, 1.6rem + 3.9vw, 4rem);

        /* Font Family */
        --font-serif: "Crimson Pro", serif;
        --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
        --font-mono: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
    }

    body{
        max-width: 50rem;
        margin: 0 auto;
        background-color: var(--light);
    }

    nav, header, main, footer{
        color: var(--dark);
        
    }

    body > nav{
        padding: var(--step-2) var(--step--1);
        background-color: var(--light);
    }

    body > nav > ul, body > nav > ol{
        margin: 0;
    }

    nav ul{
        list-style-type: none;
        padding: 0;
        margin-bottom: 1rem;
    }
    nav ul li{
        padding: .4rem 0;
    }
    
    ul{
        list-style-type: '☀';
        padding-left: var(--step--3)
    }

    ul li{
        padding-left: var(--step--3)
    }

    body > nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }

    body > nav ul li:first-of-type{
        justify-self: flex-start;
        margin-right: auto;
    }

    header{
        background-color: var(--dark);
        color: var(--light);
        padding: var(--step-6) var(--step-2);
        position: relative;
        padding-right: 20%;
    }
    
    *{
        font-size: var(--step-0);
        font-family: var(--font-sans);  
        line-height: 1.6
    }

    h1{
        font-size: var(--step-5);
        line-height: var(--step-6);
        margin-top: var(--step-3);
        margin-bottom: var(--step--1);
        font-family: var(--font-serif);
    }
    
    h2{
        font-size: var(--step-4);
        line-height: var(--step-5);
        margin-top: var(--step-3);
        margin-bottom: var(--step--1);
        font-family: var(--font-serif);
    }
    
    h3{
        font-size: var(--step-3);
        line-height: var(--step-4);
        margin-top: var(--step-3);
        margin-bottom: var(--step--1);
        font-family: var(--font-serif);
    }
    
    h4{
        font-size: var(--step-2);
        line-height: var(--step-3);
        margin-top: var(--step-3);
        margin-bottom: var(--step--1);
        font-family: var(--font-serif);
    }
    
    h5{
        font-size: var(--step-1);
        line-height: var(--step-2);
        margin-top: var(--step-3);
        margin-bottom: var(--step--1);
        font-family: var(--font-serif);
    }
    
    h6{
        font-size: var(--step-0);
        line-height: var(--step-1);
        margin-top: var(--step-3);
        margin-bottom: var(--step--1);
        font-family: var(--font-serif);
    }
    
    section > h1:first-child,
    section > h2:first-child,
    section > h3:first-child,
    section > h4:first-child,
    section > h5:first-child,
    section > h6:first-child,
    .grid div > h1:first-child,
    .grid div > h2:first-child,
    .grid div > h3:first-child,
    .grid div > h4:first-child,
    .grid div > h5:first-child,
    .grid div > h6:first-child{
        margin-top: 0;
    }
    
    small, small *{
        color: var(--outline);
        font-size: var(--step--1);
    }
    small a{
        color: inherit;
    }

    section, footer{
        padding: var(--step-5) var(--step-5);
        background-color: var(--light);
    }

    aside small{
        color: var(--outline);
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

    }

    fieldset{
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        border: 3px solid var(--dark);
        outline: none;
        padding: var(--step-1) var(--step-2) var(--step-4);
        background-color: var(--light);
    }

    legend{
        background-color: var(--dark);
        color: var(--light);
        padding: .2rem .6rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: .8rem;
        font-family: var(--font-serif);


    }

    label{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-weight: bold;
        position: relative;
        font-family: var(--font-serif);
    }

    label > *{
        font-weight: normal;
    }

    input, textarea{
        padding: .6rem .8rem;
    }

    label:has(input[type="radio"]),
    label:has(input[type="checkbox"]){
        flex-direction: row;
        gap: .4rem;
        align-items: center;
        justify-content: flex-start;
        padding: .4rem;
    }

    label:has(input[type="radio"]):hover,
    label:has(input[type="checkbox"]):hover,
    label:has(input[type="radio"]):focus,
    label:has(input[type="checkbox"]):focus{
        background-color: var(--light);
    }

    label:has( input[required]):after{
        content: '*required';
        font-size: .8rem;
        font-weight: light;
        color: var(--dark);
        position: absolute;
        top: 10px;
        right: 0px;
    }

    input[type="checkbox"]{
        width: 1rem;
        height: 1rem;
        accent-color: var(--dark);
        border-radius: 0;
    }

    textarea{
        resize: vertical;
        height: 10rem;
        min-height: 10rem;
    }

    textarea,
    input[type="text"],
    input[type="email"],
    input[type="tel"]
    {
        border: 3px solid var(--dark);
        margin-top: var(--step--4);
        box-shadow: 4px 4px 0 var(--dark);

    }

    textarea:user-invalid,
    input[type="text"]:user-invalid,
    input[type="email"]:user-invalid,
    input[type="tel"]:user-invalid{
        border-color: var(--error);
    }

    textarea::placeholder,
    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="tel"]::placeholder{
        color: var(--outline);
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="checkbox"]:focus,
    input[type="tel"]:focus{
        background-color: var(--white);
        outline: 5px solid var(--accent)
    }

    button, .btn, .btn:visited{
        border-radius: 0;
        border: 2px solid var(--dark);
        padding: .8rem 1.2rem;
        padding: var(--step--2) var(--step-2);
        color: var(--light);
        background-color: var(--dark);
        text-decoration: none;
        font-weight: bold;
        font-family: var(--font-serif);
    }
    
    button:hover, button:focus,
    .btn:hover, .btn:focus{
        background-color: var(--black);
        color: var(--light);
        text-decoration: none;
    }

    button.submit:has(span){
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    a.btn:has(span){
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    button span,
    .btn span{
        transition: all ease .2s;
    }

    button:hover span, button:focus span,
    .btn:hover span, .btn:focus span{
        transform: translateX(8px);

    }


    a, a:visited{
        color: var(--dark);
        text-decoration: underline dotted;
    }
    a:hover, a:focus{
        color: var(--primary-alt);
        text-decoration: underline solid;
    }
    a:focus, .btn:focus, button:focus{
        outline: 5px solid var(--accent)
    }
    
    footer + section,
    footer + section + aside{
        padding: var(--step-3) var(--step-4);
    }


}