/* Register Layers */
@layer reset, html, utility, group;

/* Import Layers */
@import url('reset.css') layer(reset);
@import url('html.css') layer(html);
@import url('utility.css') layer(utility);
@import url('group.css') layer(group);