/* Utility Classes */
@layer utility {
    [href="#content"]{
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        grid-area: "skip";
        background-color: var(--white);
        padding: var(--step--3);
    }
    
    [href="#content"]:focus{
        position: fixed;
        width: auto;
        height: auto;
        left: 1rem;
        top: 1rem;
        z-index: 1;
    }

    .title{
        font-weight: bold;
        font-family: var(--font-serif);
        color: var(--primary);
    }
    
    .dark .title{
        color: var(--accent);
    }

    .underline{
        font-weight: bold;
        font-family: var(--font-serif);
        text-decoration: underline;
        text-decoration-color: var(--primary);    
    }
    .dark .underline{
        text-decoration-color: var(--accent);    
        
    }

    body.lean{
        max-width: 60ch;
    }

    body.lean nav ul{
        justify-content: space-around;

    }

    .text-center{
        text-align: center;
    }

    .primary{
        background-color: var(--light);
        color: var(--primary);
        border-color: var(--light);
        font-family: var(--font-serif);
        font-size: var(--step-1);
        text-wrap: nowrap;
    }

    .primary:hover,
    .primary:focus{
        color: var(--primary);
        background-color: var(--secondary);
    }

    .dark{
        background-color: var(--text);
        color: var(--white);
    }
    
    .light{
        background-color: var(--light);
    }

    .btn.small{        
        padding: var(--step--5) var(--step--2);
    }

    .btn.light{
        background-color: var(--white);
        color: var(--text);
    }

    .btn.light:hover, .btn.light:focus{
        background-color: var(--light);
        color: var(--text);
    }

    .border-top{
        border-top: 2px solid var(--light);
    }

    .mb-0{
        margin-bottom: 0;
    }

    .pad{
        padding: var(--step-6) var(--step-5);
    }

    .p-0{
        padding: 0;
    }

    .m-child-0 > *{
        margin-top: 0;
    }

    nav#main-nav{
        position: relative;
    }

    .lean header:after,
    .lean header:before,
    .lean nav#main-nav:after,
    .lean nav#main-nav:before
    {
        width: 0;
    }

}