/* Utility Classes */
@layer utility {
    [href="#content"]{
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        grid-area: "skip";
        background-color: var(--white);
        padding: var(--step--3);
    }
    
    [href="#content"]:focus{
        position: fixed;
        width: auto;
        height: auto;
        left: 1rem;
        top: 1rem;
        z-index: 1;
    }

    .underline{
        font-weight: 700;
        font-family: var(--font-serif);
        text-decoration: underline;
        text-decoration-color: var(--dark);    
        text-decoration-thickness: 3px;    
        font-size: var(--step-1);
    }

    .dark .underline{
        text-decoration-color: var(--accent);    
        text-decoration-thickness: 3px;    
    }

    body.lean{
        max-width: 60ch;
    }

    body.lean nav ul{
        justify-content: space-around;

    }

    .text-center{
        text-align: center;
    }

    .primary{
        background-color: var(--dark);
        color: var(--light);
        border-color: var(--dark);
        font-family: var(--font-serif);
        font-size: var(--step-0);
        text-wrap: nowrap;
    }

    .primary:hover,
    .primary:focus{
        color: var(--light);
        background-color: var(--black);
    }

    .dark{
        background-color: var(--dark);
        color: var(--light);
    }
    
    .light{
        background-color: var(--light);
    }

    .btn.small{        
        padding: var(--step--5) var(--step--2);
    }

    .btn.light{
        background-color: var(--light);
        color: var(--dark);
    }

    .btn.light:hover, .btn.light:focus{
        background-color: var(--light);
        color: var(--dark);
    }

    
    .border-top{
        border-top: 2px solid var(--dark);
    }
    
    .mt-space{
        margin-top: var(--step-5);
    }
    .mt-0{
        margin-top: 0;
    }
    .mb-0{
        margin-bottom: 0;
    }
    
    .pad{
        padding: var(--step-6) var(--step-5);
    }

    .pt-0{
        padding-top: 0;
    }

    .p-0{
        padding: 0;
    }

    .m-child-0 > *{
        margin-top: 0;
    }

    nav#main-nav{
        position: relative;
    }

    .lean header:after,
    .lean header:before,
    .lean nav#main-nav:after,
    .lean nav#main-nav:before
    {
        width: 0;
    }

    .max-w-sm{
        max-width: 45ch;
        line-height: 1;
    }

    .inline-icon{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--step--3);
        margin-bottom: var(--step--5);
    }
}