<section class="border-top">
    <form id="contact" name="contact" method="POST" data-netlify="true">
        <fieldset>
            <legend>
                Contact information
            </legend>
            <label for="input-name">
                Name
                <input type="text" placeholder="Firstname Lastname" name="name" id="input-name" value="" autocomplete="name" minLength="3" required />
            </label>
            <label for="input-email">
                Email
                <input type="email" placeholder="email@company.com" name="email" id="input-email" value="" autocomplete="email" required/>
            </label>
            <label for="input-phone">
                Phone
                <input type="tel" placeholder="+614 123 456 78" name="phone" id="input-phone" value="" autocomplete="tel" required />
            </label>
        </fieldset>
        <fieldset>
            <legend>
                About your business
            </legend>
            <label for="input-company-name">
                Company name
                <input type="text" placeholder="Company ltd." name="company-name" id="input-company-name" value="" autocomplete="organization" minLength="3" required />
            </label>
            <label for="input-company-website">
                Website URL
                <input type="text" placeholder="www.company.com.au" name="company-website" id="input-company-website" value="" minLength="3" />
            </label>
            <label for="input-company-industry">
                Industry
                <input type="text" placeholder="Construction, Real Estate, etc." name="company-industry" id="input-company-industry" value="" autocomplete="off"/>
            </label>
        </fieldset>
        <fieldset>
            <legend>
                What can we help you with?
            </legend>
            <label for="input-help-website">
                <input type="checkbox" id="input-help-website" name="help-website" value="website" autocomplete="off">
                Website Design/Development
            </label>
            <label for="input-help-application">
                <input type="checkbox" id="input-help-application" name="help-application" value="application" autocomplete="off">
                Web Applications/Integrations
            </label>
            <label for="input-help-online">
                <input type="checkbox" id="input-help-online" name="help-online" value="online" autocomplete="off">
                Business Setup/Management
            </label>
            <label for="input-help-workflows">
                <input type="checkbox" id="input-help-workflows" name="help-workflows" value="workflows" autocomplete="off">
                Business/AI Workflows
            </label>
            <label for="input-help-marketing">
                <input type="checkbox" id="input-help-marketing" name="help-marketing" value="marketing" autocomplete="off">
                Marketing/SEO
            </label>
            <label for="input-message">
                Message
                <textarea placeholder="I am looking for help with..." name="message" id="input-message" value="" autocomplete="off"></textarea>
            </label>
        </fieldset>
        <br />
        <button type="submit">Submit</button>
    </form>
</section>