<section class="pt-0">
    <form id="contact" name="contact" method="POST" data-netlify="true" action="/success">
        <fieldset>
            <legend>
                Contact information
            </legend>
            <label for="input-name">
                Name
                <input type="text" placeholder="Firstname Lastname" name="name" id="input-name" value="" autocomplete="name" minLength="3" required />
            </label>
            <label for="input-email">
                Email
                <input type="email" placeholder="email@company.com" name="email" id="input-email" value="" autocomplete="email" required/>
            </label>
            <label for="input-phone">
                Phone
                <input type="tel" placeholder="+614 123 456 78" name="phone" id="input-phone" value="" autocomplete="tel" required />
            </label>
        </fieldset>
        <fieldset>
            <legend>
                About your business
            </legend>
            <label for="input-company-name">
                Company name
                <input type="text" placeholder="Company ltd." name="company-name" id="input-company-name" value="" autocomplete="organization" minLength="3" required />
            </label>
            <label for="input-company-website">
                Website URL
                <input type="text" placeholder="www.company.com.au" name="company-website" id="input-company-website" value="" minLength="3" />
            </label>
            <label for="input-company-industry">
                Industry
                <input type="text" placeholder="Construction, Real Estate, etc." name="company-industry" id="input-company-industry" value="" autocomplete="off"/>
            </label>
        </fieldset>
        <fieldset>
            <legend>
                What would you like to discuss?
            </legend>
            <label for="input-help-website">
                <input type="checkbox" id="input-help-website" name="help-website" value="website" autocomplete="off">
                Web Design & Development
            </label>
            <label for="input-help-application">
                <input type="checkbox" id="input-help-application" name="help-application" value="application" autocomplete="off">
                Dashboards, Integrations, Automations
            </label>
            <label for="input-help-marketing">
                <input type="checkbox" id="input-help-marketing" name="help-marketing" value="marketing" autocomplete="off">
                SEO, Graphic Design, Marketing, Copywriting
            </label>
            <label for="input-help-education">
                <input type="checkbox" id="input-help-education" name="help-education" value="education" autocomplete="off">
                Consulting, Developer Tutoring, Processes
            </label>
            <label for="input-message">
                Message
                <textarea placeholder="Let's talk about..." name="message" id="input-message" value="" autocomplete="off"></textarea>
            </label>
        </fieldset>
        <br />
        <button type="submit" class="submit">Submit <span>→</span></button>
    </form>
</section>