<footer class="border-top mt-space">
    <div class="">
        <div>
            <h2 class="mt-0"><a class="btn small primary" href="/">BRANCHING WEB</a></h2>
            <p class="max-w-sm">
                <small>
                    {{site.excerpt}}
                </small>
            </p>
            <br />
            <p>
                <small class="inline-icon">
                    {% include "icons/pin.njk" %}
                    Queensland, Australia
                </small>
            </p>
            <p>
                <small class="inline-icon">
                    {% include "icons/mail.njk" %}
                    <a href="mailto:sam@branchingweb.com.au">sam@branchingweb.com.au</a>
                </small>
            </p>
        </div>
        <div>
            <h3>Pages</h3>
            <nav>
                <ul>
                    {%- for post in collections.menu -%}
                        <li><a {% if page.url === post.url %} aria-current="page"{% endif %} href="{{ post.url }}">{{ post.data.menutitle or post.data.title }}</a></li>
                    {%- endfor -%}
                </ul>
            </nav>
        </div>
    </div>
</footer>

<section class="text-center">
    <p><small>Made by Humans in Australia 🦘</small></p>
    <p><small>&copy; {{site.title}} {% year %}</small></p>
</section>

{#
<aside class="text-center">
    <p><small>This website was last built:</b> {{ page.date.toLocaleString("en-AU", { timeZone: 'Australia/Brisbane' }) }}</small></p>
    <p><small>Generated with:</b> <a href="https://www.11ty.dev/" target="_blank">{{ eleventy.generator }}</a></small></p>
</aside>
#}