<footer class="border-top">
    <div class="space-between">
        <div>
        <img src="https://www.branchingweb.com.au/img/apple-touch-icon.png" alt="Branching Web logo" loading="lazy" width="50" height="50"/>
            <h2><a class="btn small primary" href="/">BRANCHING WEB</a></h2>
            <p>{{ site.excerpt }}</p>
            <br />
            <p>Queensland, Australia</p>
            <p><a href="mailto:sam@branchingweb.com.au">sam@branchingweb.com.au</a></p>
        </div>
        <div>
            <h3>Pages</h3>
            <nav>
                <ul>
                    {%- for post in collections.menu -%}
                        <li><a {% if page.url === post.url %} aria-current="page"{% endif %} href="{{ post.url }}">{{ post.data.menutitle or post.data.title }}</a></li>
                    {%- endfor -%}

                    <br />
                    Remove these for live
                    <li><a  href="/404">404</a></li>
                    <li><a  href="/success">Success</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

<section class="border-top text-center">
    <p><small>No Cookies. No Trackers. Made by Humans in 🦘 Australia.</small></p>
    <p><small>&copy; {{site.title}} {% year %}</small></p>
</section>

<aside class="text-center">
    <p><small>This website was last built:</b> {{ page.date.toLocaleString("en-AU", { timeZone: 'Australia/Brisbane' }) }}</small></p>
    <p><small>Generated with:</b> <a href="https://www.11ty.dev/" target="_blank">{{ eleventy.generator }}</a></small></p>
</aside>