<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="index, follow">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="icon" href="{{ site.url }}/img/branching-web-icon-64.png">
    <link rel="apple-touch-icon" href="{{ site.url }}/img/branching-web-icon-250.png">

    <meta name="description" content="{{ meta.description }}">
    <meta property="og:title" content="{{ meta.title }} {{ site.separator }}{{ site.title}}" />
    <meta property="og:type" content="website" />    
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:image" content="{{ site.url }}/img/branching-web-icon-250.png" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:locale" content="en_au" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.url }}{{ page.url }}#site">
    <meta name="twitter:title" content="{{ meta.title }} {{ site.separator }}{{ site.title}}">
    <meta name="twitter:description" content="{{ meta.description }}">
    <meta name="twitter:image" content="{{ site.url }}/img/branching-web-icon-250.png">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link type="text/plain" rel="author" href="{{site.url}}/humans.txt" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>{{ meta.title }} {{ site.separator }}{{ site.title }}</title>